				/* BODY STYLE */
				body {
					background: rgba(16, 16, 16, 1);
					font-family: 'Ubuntu', sans-serif;
					padding: 10px;
					margin: 0px;
					background-image: url("http://i.imgur.com/rgXlmkc.png");
					background-size: 256px;
				}
				/* CONTENT STYLE */
				main {
					background: rgba(0, 0, 0, .5);
					color: rgba(218, 218, 218, 1);
					font-family: 'Ubuntu', sans-serif;
					padding: 0px;
					margin-left: auto;
					margin-right: auto;
					margin-bottom: auto;
					padding-left: 20px;
					max-width: 1000px;
				}
				nav{
					background: linear-gradient(rgba(215, 18, 162, 1),  rgba(76, 0, 153, 1));
				}
				.navigate{
					max-width: 1000px;
					background: linear-gradient(rgba(215, 18, 162, 1),  rgba(76, 0, 153, 1));
				}
				#logo {
					vertical-align: middle;
					height: 30px;
				}
				/* INSTALL BUTTON STYLE */
				#ScriptButton {
					background-color: rgba(255, 140, 0, 0.3);
					border-radius: 25px;
					border: 5px solid rgba(255, 165, 0, 1);
					padding: 10px;
					width: auto;
					color: rgba(255, 255, 255, 1);
					font-weight: 900;
					text-decoration: none;
				}
				#ScriptButton:hover {
					background-color: rgba(255, 215, 0, 0.7);
					border-radius: 25px;
					padding: 10px;
				}
				/* TEMPORARY FIX */
				#information {
					padding-top: 35px;
				}
				/* gothic dude speaking head */
				iframe.gothic {
					right: -100px;
					bottom: 0px;
					position: fixed;
					z-index: 20;
				}
